html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
  color:white;
}

h1 {
  text-align: center;
  position: relative;
  font-size: 10vh;
}

p {
  position: relative;
  left: 5%;
  width: 50%;
  font-size: 2.5vh;
  font-family: Monospace;
}

#board{
  position: absolute;
  width: 35%;
}

#backButton{
    position: absolute;
    left: 45vw;
    top: 90vh;
    height: 10%;
    background-color: #97aebd;
    border: none;
    border-radius: 3vh;
    padding: 3vh;
    min-height: 5vh;
    min-width: 10vw;
    font-size: 5vh;
    font-family: Monospace;
}
#backButton:hover {
    background-color: #6d7e8c;
    transition: 0.5;
}
/*#first {
  top:20%;
}

#second {
  top:30%;
}*/