html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
  color:white;
}

h1 {
  text-align: center;
  position: relative;
  font-size: 50px;
}

p {
  position: relative;
  left: 8%;
  width: 60%;
  font-size: 20px;
  font-family: Monospace;
}

#board{
  position: absolute;
  top: 20%;
  left: 70%;
  width: 40vh;
}

#backButton{
    position: absolute;
    left: 42%;
    top: 82%;
    height: 10%;
    background-color: #97aebd;
    border: none;
    border-radius: 10px;
    padding: 10px;
    min-height: 100px;
    min-width: 250px;
    font-size: 30px;
    font-family: Monospace;
}
/*#first {
  top:20%;
}

#second {
  top:30%;
}*/