html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
  color:white;
}

.inpColor {
  width: 10vh;
  height: 10vh;
}

.innerDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inpLabel{
  height: fit-content;
  font-size: 3vh;
  font-family: Monospace;
  overflow-wrap: break-word;
  width: 10vw;
}

label{
  height:10vh;
}

h1 {
  left: 42.5%;
  position: absolute;
  font-size: 8vh;
}

#resetButton {
  background-color: #97aebd;
  border: none;
  border-radius: 4vh;
  padding: 4vh;
  height: 20vh;
  width: 20vw;
  font-size: 5vh;
  font-family: Monospace;
  position: absolute;  
  top: 80vh;
}

#backButton {
  background-color: #97aebd;
  border: none;
  border-radius: 4vh;
  padding: 4vh;
  height: 20vh;
  width: 20vw;
  font-size: 5vh;
  font-family: Monospace;
  position: absolute; 
  top:80vh;
  left:0;
}

#game{
  background-color: #97aebd;
  border: none;
  border-radius: 4vh;
  padding: 4vh;
  height: 20vh;
  width: 20vw;
  font-size: 5vh;
  font-family: Monospace;
  position: absolute; 
  top:80vh;
  left:80vw;
}

#outerLoading{
  width:11vh;
  height:11vh;
  background: conic-gradient(red, orange, yellow, lime, blue, violet);
  z-index: 99;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  visibility: visible;
}

#innerLoading{
  width:8vh;
  height:8vh;
  background-color: black;
  z-index: 100;
  border-radius: 50%;
}

#triangle {
  width:0;
  height:0;
  border-left:8vh solid transparent;
  border-right:8vh solid transparent;
  border-bottom:8vh solid red;

}

#vertFlex{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width:100%;
}

.horiFlex{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
  align-items: flex-start;
  
}

.text{
  display:flex;
  flex-direction: row;
  width:25%;
}

@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


