html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: white;
  color:white;
}

.inpColor {
  width: 10vh;
  height: 10vh;
}

.inpLabel{
  position: absolute;
  height: 5%;
  font-size: 16px;
  font-family: Monospace;
}



h1 {
  left: 42.5%;
  position: absolute;
  font-size: 50px;
}

#resetButton {
  background-color: #97aebd;
  border: none;
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  min-width: 250px;
  font-size: 30px;
  font-family: Monospace;
  position: absolute;
  left: 30%;
  top: 82%;
  height: 15%;
  width: 18%;
}

#backButton {
  position: absolute;
  left: 50%;
  top: 82%;
  height: 15%;
  width: 18%;
  background-color: #97aebd;
  border: none;
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  min-width: 250px;
  font-size: 30px;
  font-family: Monospace;
}

#outerLoading{
  width:11vh;
  height:11vh;
  background: conic-gradient(red, orange, yellow, lime, blue, violet);
  z-index: 99;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  visibility: visible;
}

#innerLoading{
  width:8vh;
  height:8vh;
  background-color: black;
  z-index: 100;
  border-radius: 50%;
}

#triangle {
  width:0;
  height:0;
  border-left:8vh solid transparent;
  border-right:8vh solid transparent;
  border-bottom:8vh solid red;

}

#vertFlex{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  background-color: green;
  width:100%;
}

.horiFlex{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
}

.text{
  display:flex;
  flex-direction: row;
  width:25%;
}

@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
