html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
  color:white;
}

.inpColor {
  position: absolute;
  width: 10vh;
  height: 10vh;
}

.inpLabel{
  position: absolute;
  height: 5%;
  font-size: 16px;
  font-family: Monospace;
}

#regBorderColor, #emphBorderColor, #squareSelectColor, #colRowSelectColor, #regTextColor{
  top: 20%;
}

#label1, #label2, #label3, #label4, #label5 {
  top: 25%
}

#mistakeTextColor, #regBackgroundColor, #hintBackgroundColor, #buttonTextColor, #disableButtonColor{
  top: 40%;
}

#label6, #label7, #label8, #label9, #label10 {
  top: 45%;
}

#selectButtonColor, #hoverButtonColor, #screenBackgroundColor {
  top: 60%;
}

#label11, #label12, #label13 {
  top: 65%;
}

#regBorderColor, #mistakeTextColor {
  left: 8%;
}

#emphBorderColor, #regBackgroundColor {
  left: 25.5%;
}

#squareSelectColor, #hintBackgroundColor {
  left: 43%;
}

#colRowSelectColor, #buttonTextColor {
  left: 60.5%;
}

#disableButtonColor, #regTextColor {
  left: 78%
}

#selectButtonColor {
  left: 15.5%;
}

#hoverButtonColor {
  left: 43%;
}

#screenBackgroundColor {
  left: 70.5%;
}

#label1, #label6 {
  left: 13.5%;
}

#label2, #label7 {
  left: 31%;
}

#label3, #label8 {
  left: 48.5%;
}

#label4, #label9 {
  left: 66%;
}

#label5, #label10{
  left: 83.5%;
}

#label11 {
  left: 21%;
}

#label12 {
  left: 48.5%;
}

#label13 {
  left: 76%;
}

h1 {
  left: 42.5%;
  position: absolute;
  font-size: 50px;
}

#resetButton {
  background-color: #97aebd;
  border: none;
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  min-width: 250px;
  font-size: 30px;
  font-family: Monospace;
  position: absolute;
  left: 30%;
  top: 82%;
  height: 15%;
  width: 18%;
}

#backButton {
  position: absolute;
  left: 50%;
  top: 82%;
  height: 15%;
  width: 18%;
  background-color: #97aebd;
  border: none;
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  min-width: 250px;
  font-size: 30px;
  font-family: Monospace;
}

#outerLoading{
  width:11vh;
  height:11vh;
  background: conic-gradient(red, orange, yellow, lime, blue, violet);
  z-index: 99;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  visibility: visible;
}

#innerLoading{
  width:8vh;
  height:8vh;
  background-color: black;
  z-index: 100;
  border-radius: 50%;
}

#triangle {
  width:0;
  height:0;
  border-left:8vh solid transparent;
  border-right:8vh solid transparent;
  border-bottom:8vh solid red;

}


@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
